.block
  .secondary-navigation
    %ul.wat-cf
      - if current_user.company.nil?
        %li.first= link_to t('assur.general.Company'), new_company_path
      - else
        %li.first= link_to t('assur.general.Company'), current_company_edit_path
      -#%li= link_to t('assur.bill.Bill'), configuration_bill_path
      %li.active= link_to t("assur.general.profile"), edit_user_registration_path
  .content
    %h2.title
      = t("assur.general.profile")
    .inner
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => :form }) do |f|
        = render "shared/error_messages", :target => @user
        .group
          = f.label :email, t("assur.general.Email"), :class => :label
          = f.text_field :email, :class => 'text_field focus'
        .group
          = f.label :current_password, t("assur.general.curent_password"), :class => :label
          = f.password_field :current_password, :class => 'text_field'
          %span.description= t("assur.devise.current_password_help")
        .fieldset
          .group
            = f.label :password, t("assur.general.Password"), :class => :label
            = f.password_field :password, :class => 'text_field'
            %span.description= t("assur.devise.leave_blank") 
          .group
            = f.label :password_confirmation, t("assur.general.confirmation_password"), :class => :label
            = f.password_field :password_confirmation, :class => 'text_field'
        .group.navform.wat-cf
          %button.button{:type => "button", :onclick => 'document.forms[0].submit();', 'data-disable-with' => t('assur.general.Please_wait')}
            = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("assur.general.save")}")
            = t("assur.general.save")
- content_for :sidebar, render(:partial => 'edit_sidebar', :locals => {:customer => @customer})