= render :partial => 'shared/slideshow'
#register.box
  %h2 
    Essayez dès maintenant
    %span.small
      = raw link_to 'déjà inscrit?', new_session_path(resource_name)
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = devise_error_messages!
    .group
      = f.label :email, 'E-mail'
      = f.text_field :email, :class => 'focus'
    .group
      = f.label :password, 'Mot de passe'
      = f.password_field :password
      %span.small.description= t('assur.devise.password_help')
    .group
      = f.label :password_confirmation, 'Confirmation mot de passe'
      = f.password_field :password_confirmation
    .nav
      = f.submit "je m'inscris"