.block
  .secondary-navigation
    %ul.wat-cf
      - if current_user.company.nil?
        %li.first= link_to t('assur.general.Company'), new_company_path
      - else
        %li.first= link_to t('assur.general.Company'), current_company_edit_path
      %li.active= link_to t('assur.bill.Bill'), configuration_path
      %li= link_to t("assur.general.profile"), edit_user_registration_path
  .content
    %h2.title
      = t("assur.general.Bills")
    .inner
      = form_for @company, :url => company_path(@company), :html => { :class => :form } do |f|
        = render :partial => "form", :locals => {:f => f }