%dl.column
  %dt Explorer Billit
  %dd= link_to 'A propos', '#'
  %dd= link_to 'FAQ', '#'
  %dd= link_to 'Vie privee', '#'
  %dd= link_to 'Conditions generale', '#'
%dl.column
  %dt Nous trouver
  %dd= link_to 'Contact', '#'
  %dd= link_to 'Blog', '#'
  %dd= link_to 'Twitter', '#'
%dl.column
  %dt Comment
  %dd= link_to 'Creer un client', '#'
  %dd= link_to 'Creer une facture', '#'
  %dd= link_to 'Envoyer une facture', '#'
  %dd= link_to 'Trouver un client', '#'
  %dd= link_to 'Trouver une facture', '#'
%dl.column
  %dt 
    Copyright &copy;
    = Time.now.year 
    Denis Jacquemin.