.block
  .sidebar-block
    %p= link_to image_tag("web-app-theme/icons/page_white_acrobat.png", :alt => t("assur.bill.Generate_pdf")) + " " + t("assur.bill.Generate_pdf"), bill_path(b, :format => :pdf), :target => "_blank", :class => "button"
.block.notice
  %h3= t('assur.bill.Info_bill')
  .content
    %table
      %tr
        %td.strong= "#{t('assur.bill.Author')}:"
        %td.text-right= b.author_email
      %tr
        %td.strong= "#{t('assur.bill.creation_date')}:"
        %td.text-right= l b.created_at, :format => :long
      %tr
        %td.strong= "#{t('assur.bill.last_upadte_date')}:"
        %td.text-right= l b.updated_at, :format => :long
        