.block
  .sidebar-block
    - unless b.name.empty?
      %p= link_to image_tag("web-app-theme/icons/page_white_acrobat.png", :alt => t("assur.bill.Generate_pdf")) + " " + t("assur.bill.Generate_pdf"), bill_name_path(URI.encode(b.name), :format => :pdf), :target => "_blank", :class => "button"
.block.notice
  %h3
    = t('assur.bill.Status')
    = t('assur.bill.bill')
  .content
    = form_tag '/bill/update_status', :remote => true do
      = hidden_field_tag :bill_id, @bill.id
      %table
        %tr
          %td= "#{t('assur.status.none')}"
          %td= radio_button_tag :status, '0', @bill.status==0
        %tr
          %td
            %span.github-label.github-label-orange= "#{t('assur.status.sent')}"
          %td= radio_button_tag :status, '1', @bill.status==1
        %tr
          %td
            %span.github-label.github-label-green= "#{t('assur.status.paid')}"
          %td= radio_button_tag :status, '2', @bill.status==2
        %tr
          %td
            %span.github-label.github-label-red= "#{t('assur.status.late')}"
          %td= radio_button_tag :status, '3', @bill.status==3
        %tr
          %td
            = submit_tag t('assur.general.save'), :disable_with => t('assur.general.Please_wait')
.block.notice
  %h3= t('assur.bill.Info_bill')
  .content
    %table
      %tr
        %td.strong= "#{t('assur.bill.Author')}:"
        %td.text-right= b.author_email
      %tr
        %td.strong= "#{t('assur.bill.creation_date')}:"
        %td.text-right= l b.created_at, :format => :long
      %tr
        %td.strong= "#{t('assur.bill.last_upadte_date')}:"
        %td.text-right= l b.updated_at, :format => :long
        