.block
  %h3= t('assur.bill.Actions_on_bill') 
  %ul.navigation
    %li
      = link_to t('assur.bill.Generate_pdf'), bill_path(b, :format => :pdf), :target => "_blank"
    %li
      = link_to t('assur.bill.Send_by_email')
    %li
      = link_to 'Envoyer via Zoomit'
-#.block.notice
-#  %h3 
-#    Statut de la facture
-#  .content
-#    %table
-#      = form_tag('/bill/update_status', :id => 'bill_update_status', :remote => 'true') do
-#        = hidden_field_tag 'bill_id', b.id
-#        - for status in Status.all_active_ordered
-#          %tr
-#            %td
-#              = radio_button_tag :status, status.id, nil, :onchange => "$('bill_update_status').submit()"
-#              = t status.name
.block.notice
  %h3= t('assur.bill.Info_bill')
  .content
    %table
      %tr
        %td.strong= "#{t('assur.bill.Author')}:"
        %td.text-right= b.author_email
      %tr
        %td.strong= "#{t('assur.bill.creation_date')}:"
        %td.text-right= l b.created_at, :format => :long
      %tr
        %td.strong= "#{t('assur.bill.last_upadte_date')}:"
        %td.text-right= l b.updated_at, :format => :long
        