.block
  %h3= t('assur.bill.Actions_on_bill') 
  %ul.navigation
    %li
      = link_to t('assur.bill.Generate_pdf'), bill_path(b, :format => :pdf)
    %li
      = link_to t('assur.bill.Send_by_email')
.block.notice
  %h3= t('assur.bill.Info_bill')
  .content
    %table
      %tr
        %td.strong= "#{t('assur.bill.Author')}:"
        %td.text-right= b.author_email
      %tr
        %td.strong= "#{t('assur.bill.creation_date')}:"
        %td.text-right= b.created_at
      %tr
        %td.strong= "#{t('assur.bill.last_upadte_date')}:"
        %td.text-right= b.updated_at
        