.block
  %h3= t('assur.bill.Actions_on_bill') 
  %ul.navigation
    %li
      = link_to t('assur.bill.Generate_pdf'), '#'
    %li
      = link_to t('assur.bill.Send_by_email')
.block.notice
  %h3= t('assur.bill.Info_bill')
  .content
    %ul
      %li= 'Auteur: Denis Jacquemin'
      %li= 'Creation: 24 janvier 2011, 13h43'
      %li= 'Derniere modification: 30 janvier 2011, 11h02'