- content_for :h2_field do
  = f.label :reference, t("assur.bill.Reference"), :class => :label
  = f.text_field :reference, :class => 'text_field'
- content_for :javascripts do
  = javascript_tag do
    = "var product='#{generate_template(f, :products)}'"
  = javascript_include_tag 'autocomplete', 'bill'
- content_for :css do
  = stylesheet_link_tag "autocomplete"
.group
  .columns.wat-cf 
    .verylargecolumn.left     
      = f.label :name, t("assur.bill.Description"), :class => :label
      = f.text_field :name, :class => 'text_field focus'
    .verysmallcolumn.right
      = f.label :reference, t("assur.bill.Reference"), :class => :label
      = f.text_field :reference, :class => 'text_field'
.group
  .columns.wat-cf 
    .column.left     
      = f.label :customer_id, t("assur.bill.Customer"), :class => :label
      = text_field_tag 'customer_autocomplete', @bill.customer.fullname_with_reference, :class => 'text_field'
      = f.hidden_field :customer_id
      %span.description 
        Entrez minimum 2 carateres du nom, prenom ou de la reference client
        = link_to 'aide', '#'
    .column.right
      = f.label :effective_date, t("assur.bill.Effective_date"), :class => :label
      = f.text_field :effective_date, :class => 'text_field'
%table.table{:id => 'products'}
  %thead
    %tr
      %th{:width => '54%'}= t('assur.product.Product_name_description')
      %th{:width => '10%'}= t('assur.product.Quantity')
      %th{:width => '10%'}= t('assur.product.Unit_price')
      %th{:width => '10%'}= t('assur.product.VAT')
      %th= t('assur.product.Total_HVAT')
      %th= t('assur.product.Total_VAT')
      %th &nbsp;
  %tbody
    = f.hidden_field :totalhtva
    = f.hidden_field :totaltvac
    = f.fields_for :products do |p|
      = render :partial => 'product', :locals => {:f => p}
  %tfoot
    %tr.strong.greybg
      %td.text-right &nbsp;
      %td &nbsp;
      %td.text-right= t('assur.product.Total')
      %td.text-right &nbsp;
      %td.text-right{:id => 'globaltotalhtva'}
      %td.text-right{:id => 'globaltotaltvac'}
      %td &nbsp;
.group
  = link_to  t('assur.product.Add_product'), '#product', :class => "add_nested_item", :rel => "products"
.group.navform.wat-cf
  %button.button{:type => "submit"}
    = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("assur.general.save")}")
    = t("assur.general.save")
  = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("assur.general.cancel")}") + " " + t("assur.general.cancel"), customers_path, :class => "button"