- content_for :h2_field do
  = f.label :reference, t("assur.bill.Reference"), :class => :label
  = f.text_field :reference, :class => 'text_field'
.group
  .columns.wat-cf 
    .verylargecolumn.left     
      = f.label :name, t("assur.bill.Description"), :class => :label
      = f.text_field :name, :class => 'text_field focus'
    .verysmallcolumn.right
      = f.label :reference, t("assur.bill.Reference"), :class => :label
      = f.text_field :reference, :class => 'text_field'
.group
  .columns.wat-cf 
    .column.left     
      = f.label :customer_id, t("assur.bill.Customer"), :class => :label
      = f.text_field :customer_id, :class => 'text_field'
    .column.right
      = f.label :effective_date, t("assur.bill.Effective_date"), :class => :label
      = f.text_field :effective_date, :class => 'text_field'
.group.navform.wat-cf
  %button.button{:type => "submit"}
    = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("assur.general.save")}")
    = t("assur.general.save")
  = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("assur.general.cancel")}") + " " + t("assur.general.cancel"), customers_path, :class => "button"