- content_for :h2_field do
  = f.label :reference, t("assur.bill.Reference"), :class => :label
  = f.text_field :reference, :class => 'text_field'
- content_for :javascripts do
  = javascript_include_tag 'bill'
  = javascript_tag do
    = "var product='#{generate_template(f, :products)}'"
= render "shared/error_messages", :target => @bill
= f.hidden_field :customer_id  
= f.hidden_field :reference
.group
  .columns.wat-cf 
    .column.left     
      = f.label :name, t("assur.bill.Description") + mark_required(@bill, :name), :class => :label
      = f.text_field :name, :class => 'text_field focus'
    .column.right
      = f.label :effective_date, t("assur.bill.Effective_date") + mark_required(@bill, :effective_date), :class => :label
      %span.in_place_edit{:target => 'bill_location'}
        %span.readonly= @bill.location_for_bill(current_user.company)
        = text_field_tag 'bill[location]', @bill.location_for_bill(current_user.company), :class => 'in_place_edit_text_field', :style => 'display:none'
        = " #{t('assur.bill.location')}"
      = f.date_select :effective_date, :start_year => Time.now.year-2, :end_year => Time.now.year+2, :class => 'text_field'
%table.table{:id => 'products'}
  %thead
    %tr
      %th{:width => '54%'}= t('assur.product.Product_name_description')
      %th{:width => '10%'}= t('assur.product.Quantity')
      %th{:width => '10%'}= t('assur.product.Unit_price')
      %th{:width => '10%'}= t('assur.product.VAT')
      %th= t('assur.product.Total_HVAT')
      %th= t('assur.product.Total_VAT')
      %th &nbsp;
  %tbody
    = f.fields_for :products do |p|
      = render :partial => 'product', :locals => {:f => p}
  %tfoot
    %tr.strong.greybg
      %td.text-right &nbsp;
      %td &nbsp;
      %td.text-right= t('assur.product.Total')
      %td.text-right &nbsp;
      %td.text-right{:id => 'globaltotalhtva'}
      %td.text-right{:id => 'globaltotaltvac'}
      %td &nbsp;
= f.hidden_field :totalhtva
= f.hidden_field :totaltvac
.group
  .columns.wat-cf
    = link_to  image_tag("web-app-theme/icons/add.png" , :alt => t('assur.product.Add_product')) + " " + t("assur.product.Add_product"), '#product', :class => "button add_nested_item", :rel => "products"
.group
  = f.label :note, t("assur.bill.note") + mark_required(@bill, :note), :class => :label
  = f.text_area :note, :class => 'text_area', :rows => 5
  %span.description= t 'assur.bill.config_note_help'
.group.navform
  .columns.wat-cf
    .column.left
      %button.button{:type => "button", :onclick => 'document.forms[0].submit();', 'data-disable-with' => t('assur.general.Please_wait')}
        = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("assur.general.save")}")
        = t("assur.general.save")
      = link_to image_tag("web-app-theme/icons/cross.png", :alt => t("assur.general.cancel")) + " " + t("assur.general.cancel"), customer_path(@bill.customer), :class => "button"
    - unless f.object.new_record?
      .column.right
        = link_to image_tag("web-app-theme/icons/bin.png", :alt => t("assur.general.delete")) + " " + t("assur.general.delete"), bill_path(@bill), :class => "button rbutton", :method => :delete, :confirm => t("assur.general.are_you_sure")