- content_for :h2_field do
  = f.label :reference, t("assur.bill.Reference"), :class => :label
  = f.text_field :reference, :class => 'text_field'
- content_for :javascripts do
  = javascript_tag do
    = "var product='#{generate_template(f, :products)}'"
  = javascript_include_tag 'autocomplete'
.group
  .columns.wat-cf 
    .verylargecolumn.left     
      = f.label :name, t("assur.bill.Description"), :class => :label
      = f.text_field :name, :class => 'text_field focus'
    .verysmallcolumn.right
      = f.label :reference, t("assur.bill.Reference"), :class => :label
      = f.text_field :reference, :class => 'text_field'
.group
  .columns.wat-cf 
    .column.left     
      = f.label :customer_id, t("assur.bill.Customer"), :class => :label
      = f.text_field :customer_id, :class => 'text_field'
    .column.right
      = f.label :effective_date, t("assur.bill.Effective_date"), :class => :label
      = f.text_field :effective_date, :class => 'text_field'
%table.table{:id => 'products'}
  %thead
    %tr
      %th{:width => '54%'} Nom produit / description
      %th{:width => '10%'} Quantitee
      %th{:width => '10%'} Prix unitere
      %th{:width => '10%'} TVA
      %th Total TVAC
      %th &nbsp;
  %tbody
    = f.fields_for :products do |p|
      = render :partial => 'product', :locals => {:f => p}
  %tfoot
    %tr
      %td Total
      %td &nbsp;
      %td.text-right 2345 HTVA
      %td &nbsp;
      %td.text-right 3456 TVAC
      %td &nbsp;
.group
  = link_to 'Ajouter un produit', '#product', :class => "add_nested_item", :rel => "products"
.group.navform.wat-cf
  %button.button{:type => "submit"}
    = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("assur.general.save")}")
    = t("assur.general.save")
  = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("assur.general.cancel")}") + " " + t("assur.general.cancel"), customers_path, :class => "button"