<%= form_for(@bill) do |f| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% @bill.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :reference %><br />
    <%= f.text_field :reference %>
  </div>
  <div class="field">
    <%= f.label :effective_date %><br />
    <%= f.date_select :effective_date %>
  </div>
  <div class="field">
    <%= f.label :status_id %><br />
    <%= f.text_field :status_id %>
  </div>
  <div class="field">
    <%= f.label :amount_tvac %><br />
    <%= f.text_field :amount_tvac %>
  </div>
  <div class="field">
    <%= f.label :customer_id %><br />
    <%= f.text_field :customer_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
