%tr.product
  %td= f.text_field :name, :class => 'text_field'
  %td= f.text_field :quantity, :class => 'text_field q text-right ct number'
  %td= f.text_field :price, :class => 'text_field up text-right ct'
  %td= f.collection_select(:tva_id, @tvas, :id, :value, {}, :class => 'tva ct')
  %td.text-right.totalhtva.currency
  %td.text-right.totaltvac.currency
  %td
    = render :partial => 'shared/remove_link_unless_new_record', :locals => {:f => f}
    =f.hidden_field :totaltvac, :class => 'totaltvachidden'
    =f.hidden_field :totalhtva, :class => 'totalhtvahidden'