.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("assur.general.list")}", bills_path
      %li= link_to "#{t("assur.general.new")}", new_bill_path
  .content
    %h2.title
      = t("assur.general.listing")
      = t("assur.bill.bills")
      #quick-search.form 
        = label_tag :quicksearch, t("assur.general.quick_search")
        = text_field_tag :quicksearch, '', :class => 'text_field focus', :onKeyUp => 'quicksearch.filter(this.value);'
    .inner
      %table.table{:id => 'qs-target'}
        %tr
          %th 
            = t("assur.bill.Description")
          %th 
            = t("assur.bill.Customer_name")
          %th 
            = t("assur.bill.Reference")            
          %th 
            = t("assur.bill.Amount_TVAC")
          %th.last &nbsp;
        - @bills.each do |bill|
          %tr.row{:class => cycle("odd", "even")}
            %td
              = link_to "#{bill.name}", edit_bill_path(bill)
            %td
              = "#{bill.customer.firstname} #{bill.customer.lastname}"
            %td
              = bill.reference
            %td
              = bill.amount_tvac
            %td.last
              \#{link_to "#{t("assur.general.delete")}", bill_path(bill), :method => :delete, :confirm => "#{t("assur.general.are_you_sure")}"}
      .actions-bar.wat-cf
        .actions
- content_for :sidebar, render(:partial => 'index_sidebar')