.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "Liste")}", bills_path
      %li.active= link_to "#{t("web-app-theme.new", :default => "Nouveau")}", new_bill_path
  .content
    %h2.title
      = t("assur.bill.New_bill")
    .inner
      = form_for @bill, :url => bills_path, :html => { :class => :form } do |f|
        = render :partial => "form", :locals => {:f => f}
- content_for :sidebar, render(:partial => 'new_sidebar')