= render :partial => 'shared/eid_applet'
.block
  %h3= t('assur.folder.folders')
  - @customer.folders.each do |f|
    .group
      = link_to "#{f.name} #{t('assur.general.created_on')} #{f.created_at}" , edit_folder_path(f)
  
  = form_for @folder, :url => folders_path, :html => { :class => :form } do |f|
    .group 
      = f.hidden_field :customer_id
      = f.label :name, "#{t('assur.general.add')} #{t('assur.folder.folder')}", :class => 'light_label'
      = f.text_field :name, :class => 'text_field'

      %button.button{:type => "submit"}
        = image_tag("web-app-theme/icons/folder_add.png", :alt => "#{raw t("assur.folder.add")}")
        = "#{t("assur.folder.add")}"
  