.group
  .columns.wat-cf 
    .column.left
      = f.label :firstname, t("assur.customer.firstname"), :class => :label
      = f.text_field :firstname, :class => 'text_field focus'
    .column.right
      = f.label :lastname, t("assur.customer.lastname"), :class => :label
      = f.text_field :lastname, :class => 'text_field'
.group
  .columns.wat-cf.custform1 
    .one
      = f.label :birthdate, t("assur.customer.birthdate"), :class => :label
      -#= f.date_select :birthdate, :class => 'date_select', :start_year => 1900
    .two
      = f.label :sex_id, t("assur.customer.gender"), :class => :label
      = f.collection_select(:sex_id, Sex.all, :id, :name)
    .three
      = f.label :civilstatus_id, t("assur.customer.civilstatus"), :class => :label
      = f.collection_select(:civilstatus_id, Civilstatus.all, :id, :name)
.group
  .columns.wat-cf.custform1 
    .one
      = f.label :nationality_id, t("assur.customer.nationality"), :class => :label
      = f.collection_select(:nationality_id, Nationality.all, :id, :name)

    .two
      = f.label :language_id, t("assur.customer.language"), :class => :label
      = f.collection_select(:language_id, Language.all, :id, :name)
= f.fields_for :address do |a|
  .fieldset
    .group
      .columns.wat-cf 
        .verylargecolumn.left
          = a.label :street, t("assur.customer.street"), :class => :label
          = a.text_field :street, :class => 'text_field'
        .verysmallcolumn.right
          = a.label :number, t("assur.customer.number"), :class => :label
          = a.text_field :number, :class => 'text_field'
    .group
      .columns.wat-cf 
        .column.left     
          = a.label :box, t("assur.customer.box"), :class => :label
          = a.text_field :box, :class => 'text_field'
        .column.right
          = a.label :zipcode, t("assur.customer.zipcode"), :class => :label
          = a.text_field :zipcode, :class => 'text_field'        
    .group
      .columns.wat-cf 
        .column.left     
          = a.label :city, t("assur.customer.city"), :class => :label
          = a.text_field :city, :class => 'text_field'
        .column.right
          = a.label :country_id, t("assur.customer.country"), :class => :label
          = a.collection_select(:country_id, Country.all, :id, :name)

.fieldset
  .group
    = f.label :title_id, t("assur.customer.title"), :class => :label
    = f.collection_select(:title_id, Title.all, :id, :name)
  .group
    .columns.wat-cf 
      .column.left
        = f.label :primary_email, t("assur.customer.primary_email"), :class => :label
        = f.text_field :primary_email, :class => 'text_field'
        %span.description Ex: george.dupont@example.com
      .column.right
        = f.label :secondary_email, t("assur.customer.secondary_email"), :class => :label
        = f.text_field :secondary_email, :class => 'text_field'
        %span.description Ex: george.dupont@boulot.be     
  .group
    .columns.wat-cf 
      .column.left
        = f.label :private_phone, t("assur.customer.private_phone"), :class => :label
        = f.text_field :private_phone, :class => 'text_field'
      .column.right
        = f.label :office_phone, t("assur.customer.office_phone"), :class => :label
        = f.text_field :office_phone, :class => 'text_field'
  .group
    .columns.wat-cf 
      .column.left
        = f.label :cellphone, t("assur.customer.cellphone"), :class => :label
        = f.text_field :cellphone, :class => 'text_field'
      .column.right
        = f.label :fax, t("assur.customer.fax"), :class => :label
        = f.text_field :fax, :class => 'text_field'
.group
  = f.label :idnum, t("assur.customer.idnum"), :class => :label
  = f.text_field :idnum, :class => 'text_field'
  %span.description Ex: 78.04.12-245.56
.group
  = f.label :jobdescription, t("assur.customer.jobdescription"), :class => :label
  = f.text_field :jobdescription, :class => 'text_field'
  %span.description Ex: a simple text
.group
  = f.label :comment, t("assur.customer.comment"), :class => :label
  = f.text_area :comment, :class => 'text_area'
.group.navform.wat-cf
  %button.button{:type => "submit"}
    = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("assur.general.save")}")
    = t("assur.general.save")
  = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("assur.general.cancel")}") + " " + t("assur.general.cancel"), customers_path, :class => "button"
