.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to t("assur.general.list"), customers_path
      %li= link_to t("assur.general.new"), new_customer_path
      %li.active= link_to t("assur.general.Details"), edit_customer_path
  .content
    %h2.title
      = t("assur.general.Details")
      = t("assur.customer.customer")
    .inner
      = form_for @customer, :url => customer_path(@customer), :html => { :class => :form } do |f|
        = render :partial => "form", :locals => {:f => f }
- content_for :sidebar, render(:partial => 'edit_sidebar', :locals => {:customer => @customer})
