.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("assur.general.list")}", customers_path
      %li= link_to "#{t("assur.general.new")}", new_customer_path
  .content
    %h2.title
      = t("assur.general.listing")
      = t("assur.customer.customers")
      #quick-search.form 
        = label_tag :quicksearch, t("assur.customer.quick_search")
        = text_field_tag :quicksearch, '', :class => 'text_field focus', :onKeyUp => 'quicksearch.filter(this.value);'
    .inner
      %table.table{:id => 'qs-target'}
        %tr
          %th 
            = "#{t("assur.customer.lastname")} - #{t("assur.customer.firstname")}"
          %th 
            = t("assur.customer.city")            
          %th 
            = t("assur.customer.reference")
          %th.last &nbsp;
        - @customers.each do |customer|
          %tr.row{:class => cycle("odd", "even")}
            %td
              = link_to "#{customer.firstname} #{customer.lastname}", edit_customer_path(customer)
            %td
              = customer.address.city
            %td
              = customer.reference
              dj10234
            %td.last
              \#{link_to "#{t("assur.general.delete")}", customer_path(customer), :method => :delete, :confirm => "#{t("assur.general.are_you_sure")}"}
      .actions-bar.wat-cf
        .actions
- content_for :sidebar, render(:partial => 'index_sidebar')