- content_for :css do
  = stylesheet_link_tag "show_customer"
- content_for :breadcrumb do
  %ul{:id => 'breadcrumb'}
    %li= link_to t('assur.customer.My_customers'), customers_path
    %li.last= @customer.fullname
.block
  .content
    %h2{:style => 'vertical-align:top;'}
      %table{:width => '100%'}
        %tr
          %td
            = @customer.fullname
            %span.reference
              = @customer.reference
            - unless @customer.address_city.empty?
              .city
                = "#{t('assur.general.of')} #{@customer.address_city}" 
          %td{:width => '300px', :style => 'border-left: 1px solid #ddd; padding: 0 0 0 10px'}
            %ul{:id => 'customer-details'}
              - unless @customer.phone.nil? || @customer.phone.empty?
                %li.phone
                  = @customer.phone
                  %span.desc
                    =t('assur.customer.phone')
              %li.email= mail_to @customer.email  unless @customer.email.nil? || @customer.email.empty?
    .inner
      %table{:width => '100%'}
        %tr
          %td.actions{:width => '140px', :style => 'vertical-align:top;border-right: 1px solid #EAEAEA;'}
            = link_to image_tag("web-app-theme/icons/calculator_add.png", :alt => t('assur.bill.new_bill')) + " " + t('assur.bill.new_bill'), new_bill_path(:c => @customer.id), :class => "button"
            = link_to image_tag("web-app-theme/icons/user_edit.png", :alt => t('assur.customer.edit_user')) + " " + t('assur.customer.edit_user'), edit_customer_path(@customer), :class => "button"
          %td{:style => 'padding-left:5px;'}
            - if @customer.bills.active.count == 0
              .message= t 'assur.bill.no_bill_exist'
            - else
              %table.table{:id => 'qs-target'}
                %tr
                  %th{:width => '12%'} Statut
                  %th{:width => '52%'}
                    = t("assur.bill.Description")
                  %th{:width => '12%'}
                    = t("assur.bill.Reference")
                  %th{:width => '11%'}
                    = t("assur.bill.Billing_date")
                  %th.last.text-right{:width => '13%'}
                    = t("assur.bill.Amount_TVAC")
                  - @customer.bills.active.each do |bill|
                    %tr.row{:class => cycle("odd", "even")}
                      %td
                        = render :partial => 'current_status', :locals => {:bill => bill}
                      %td= link_to "#{bill.name.truncate(50)}", edit_bill_path(bill), :title => bill.name
                      %td= link_to bill.reference, edit_bill_path(bill)
                      %td= link_to "#{l bill.effective_date}", edit_bill_path(bill)
                      %td.last.text-right= link_to "#{bill.totaltvac}", edit_bill_path(bill)