<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Slogan:</b>
  <%= @company.slogan %>
</p>

<p>
  <b>Address:</b>
  <%= @company.address_id %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
