= render :partial => 'shared/slideshow'
#register.box
  %h2 
    = t('assur.devise.Connection')
    %span.small
      = raw link_to 'pas encore inscrit?', new_registration_path(resource_name)
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    = devise_error_messages!
    .group
      = f.label :email, 'E-mail'
      = f.text_field :email, :class => 'focus'
    .group
      = f.label :password, 'Mot de passe'
      = f.password_field :password
      %span.small.description= link_to t('assur.devise.forgot_password'), new_password_path(resource_name)
    .nav
      = f.submit "Je me connecte"