<p id="notice"><%= notice %></p>

<p>
  <b>Street:</b>
  <%= @address.street %>
</p>

<p>
  <b>Number:</b>
  <%= @address.number %>
</p>

<p>
  <b>Box:</b>
  <%= @address.box %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @address.zipcode %>
</p>

<p>
  <b>City:</b>
  <%= @address.city %>
</p>

<p>
  <b>Country:</b>
  <%= @address.country_id %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
