%p= "#{t('assur.mail.reset.Dear')} #{@resource.email}!"
%p= t('assur.mail.reset.explanation')
%p= link_to t('assur.mail.reset.change_my_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p= t('assur.mail.reset.not_my_request')
%p= t('assur.mail.reset.unchange_password_message')
