<!DOCTYPE html>
<html>
<head>
  <title>Bill it</title>
  <%= stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/default/style", "web-app-theme/override", "custom", "status", "inline_edit", "button", "bill", "footer", "message", 'github_label', 'breadcrumb' %>
  <%= yield(:css) %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <%= render :partial => 'shared/top_message' %>
    <% unless flash.empty? %>
      <ul id="message" style="display:none;">
        <% flash.each do |type, message| -%>
            <li><%= message %></li> 
        <% end -%>
      </ul>
    <% end -%>
    <div id="header">
      <h1><a href="/"><%= current_user.company.name %></a></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
            <li><%= link_to t("assur.customer.My_customers"), customers_path %></li> 
            <% unless current_user.company.nil? %>
              <li><%= link_to t('assur.general.Configuration'), configuration_path %></li>
            <% end %>
            <li><%= link_to t("assur.general.logout"), destroy_user_session_path %></li>         
        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf"></ul>
      </div>
    </div>    
    <div id="wrapper" class="wat-cf">
      <div id="main">
        <%= yield(:breadcrumb) %>
        <%= yield %>
        <div id="footer">
          <%= render :partial => 'shared/footer' %>      
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>    
  </div>
  <%= javascript_include_tag :defaults, 'quick-search' %>
  <%= yield(:javascripts) %>
</body>
</html>