<!DOCTYPE html>
<html>
<head>
  <title>Web App</title>
  <%= stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/default/style", "web-app-theme/override", "custom", "status", "inline_edit", "button" %>
  <%= yield(:css) %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/"><%= current_user.company.name %></a></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
            <% if current_user.company.nil? %>
              <li><%= link_to t('assur.general.Configuration'), new_company_path %></li>
            <% else %>
              <li><%= link_to t('assur.general.Configuration'), configuration_path %></li>
            <% end %>
            <li><%= link_to t("assur.general.logout"), destroy_user_session_path, :class => 'logout' %></li>         
        </ul>
      </div>
      <%= render :partial => 'shared/main_navigation' %>
      <div id="main-navigation">
        <ul class="wat-cf"></ul>
      </div>
    </div>    
    <div id="wrapper" class="wat-cf">
      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; <%= Time.now.year %> Web App.</p>
          </div>      
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>    
  </div>
  <%= javascript_include_tag :defaults, 'quick-search', 'growl.js' %>
  <%= yield(:javascripts) %>
    <% flash.each do |type, message| -%>
        <div class="flash <%= type %>" style="display:none"><%= message %></div> 
    <% end -%>
</body>
</html>