!!! 5
%html
  %head
    %title 
      A changer
    = stylesheet_link_tag 'home', 'carousel/themes/default/ui.carousel', 'carousel/sortfolio'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #header
      #top-nav
        .container
          %ul
            %li= link_to 'A propos', '#'
            %li= link_to 'Blog', '#'
            %li= link_to 'Identification', '#'
      #main-nav
        .container
          %ul
            %li= link_to 'fonctionnalitées', '#'
            %li= link_to 'blog', '#'
            %li= link_to 'connexion', new_session_path(resource_name)
    #content
      .container
        = yield
    = javascript_include_tag 'prototype', 's2', 'carousel'
    = javascript_tag do
      = "$$('.focus').invoke('select');"
      = "var hCarousel = new S2.UI.Carousel('hcarousel', {paginator: 'hpaginate', cycle: 'loop'});"
      = "new PeriodicalExecuter(function(pe) { hCarousel.scrollNext(); }, 3);"